.moonViewWrapper {
  box-sizing: border-box;
  height: calc(100vh - 110px);
  overflow: hidden;
}

.moonAndTitleWrapper {
  height: 300px;
  transition: filter 50ms linear;
}

.moonAndTitleWrapperBlur {
  height: 300px;
  transition: filter 50ms linear;
  filter: blur(50px);
}

.pageTitle {
  width: 269px;
  margin: 24px auto 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
}

.infoWrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .moonAndTitleWrapper {
    height: auto;
    padding: 51px 0;
    /* transition: filter 50ms linear; */
  }

  .moonAndTitleWrapperBlur {
    height: auto;
    padding: 51px 0;
    /* transition: filter 50ms linear; */
    /* filter: blur(50px); */
  }

  .pageTitle {
    width: 100%;
    margin: 0 auto;
    font-size: 48px;
    line-height: 1.23;
  }

  .videoWrapper {
    position: relative;
    width: 282px;
    height: 232px;
    flex-shrink: 0;
    float: right;
    margin-right: 15px;
  }

  .infoWrapper {
    display: flex;
    padding: 0 21px;
    width: 834px;
    max-width: 834px;
    margin: 0 auto;
  }
}
