.moonViewWrapper {
  box-sizing: border-box;
  height: calc(100vh - 110px);
  overflow: hidden;
}

.moonAndTitleWrapper {
  height: 300px;
  transition: filter 50ms linear;
}

.moonAndTitleWrapperBlur {
  height: 300px;
  transition: filter 50ms linear;
  filter: blur(50px);
}

.pageTitle {
  width: 269px;
  margin: 24px auto 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
}

.infoWrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
