.section {
  padding: 38px 0;
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  background-image: url('../../images/bg-mobile.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx),
  screen and (min-resolution: 192dpi) {
  .section {
    background-image: url('../../images/bg-mobile@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .section {
    background-image: url('../../images/bg-mobile@3x.jpg');
  }
}

.startIcon {
  width: 20px;
  height: 16px;
  margin-left: 11px;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 4vh 0;
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    background-image: url('../../images/bg-desktop.jpg');
  }
}

@media screen and (min-width: 1024px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .section {
      background-image: url('../../images/bg-desktop@2x.jpg');
    }
  }
}

@media screen and (min-width: 1024px) {
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    .section {
      background-image: url('../../images/bg-desktop@3x.jpg');
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.startIcon {
  width: 36px;
  height: 29px;
  margin-left: 24px;
}

.welcomeText {
  margin-top: 20vh;
  margin-bottom: 34px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 1.22;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  .welcomeText {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.23;
  }
}

.titleText {
  font-size: 47px;
  line-height: 1.23;
}

@media screen and (min-width: 1024px) {
  .titleText {
    font-size: 64px;
    line-height: 1.22;
  }
}

.description {
  display: none;
}

@media screen and (min-width: 1024px) {
  .description {
    display: block;
    width: 794px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;

    font-size: 20px;
    text-align: center;
    line-height: 1.21;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.buttonStart {
  margin: 0 auto;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 157px;
  width: 50%;
  max-width: 342px;
  height: auto;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-text-color);
  background-image: var(--background-primary);

  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .buttonStart {
    padding: 12px 0;
    width: 386px;
    max-width: 386px;
    font-size: 32px;
    line-height: 1.22;
    border-radius: 40px;
  }
}
