.birthdateInfo {
  height: calc(100vh - 490px);
  overflow-y: scroll;
}

.birthdateTxt {
  margin: 0 0 15px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
}

.birthdateTitle {
  margin: 0 0 18px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
}

.birthdateDesc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
  .birthdateInfo {
    height: calc(100vh - 380px);
    padding-left: 20px;
    margin: 0 auto;
    overflow-y: scroll;
  }

  .birthdateDesc {
    overflow-y: hidden;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.14;
    flex-grow: 1;
  }
}
