.mainNav {
  display: flex;
  justify-content: space-evenly;
  padding: 19px 0;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: var(--background-primary);
}

.navIcon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mainNav {
    display: flex;
    justify-content: space-evenly;
    padding: 7px 0;
    width: 834px;
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: var(--background-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
  }

  .mainNavItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navIcon {
    display: none;
    margin-bottom: 10px;
    fill: currentColor;
    stroke: currentColor;
  }
}
