html {
  --background-primary: linear-gradient(99.36deg, #f24f9b 0%, #ae2182 100%);
  --background-secondary: linear-gradient(
    149.06deg,
    rgba(118, 118, 118, 0.525) 0%,
    rgba(79, 79, 79, 0.45) 100%
  );
  --background-for-input: rgba(255, 255, 255, 0.5);
  --background-for-picker: rgba(255, 255, 255, 0.2);

  --main-text-color: #fff;
  --secondary-text-color: rgba(0, 0, 0, 0.7);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary-color);
  color: var(--main-text-color);
}

@media screen and (max-width: 1023px) {
  .page-wrapper {
    position: relative;
    padding: 20px 0 0 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url('../src/images/bg-shared-layout.jpg');
  }
}

.container {
  position: relative;
  height: 100%;
  padding: 0 20px;
}

.navLink {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-text-color);
}

.activeNavLink {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.activeNavLink::after {
  position: absolute;
  left: 0;
  top: 19px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
}
