.dateWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dateWrapper::after {
  position: absolute;
  bottom: 4px;
  content: '';
  width: 100%;
  height: 1px;

  background-color: #fff;
}

.birthdate {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.btnWrapper {
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datePicker {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  z-index: 2;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: transparent;
}

.datePicker:hover:not([disabled]) {
  background-color: transparent;
}

.datePicker:focus,
.datePicker:hover {
  cursor: pointer;
  outline: none;
}

.datePicker[type='date']::-webkit-inner-spin-button,
.datePicker[type='date']::-webkit-calendar-picker-indicator {
  width: 50px;
  opacity: 0;
  -webkit-appearance: none;
}

.datePickerIcon {
  position: absolute;
  left: 0px;
  z-index: 0;
  cursor: pointer;
}

.datePickerIcon:hover {
  cursor: pointer;
}

.customDatePicker {
  width: 320px;
  position: absolute;
  right: 0;
  top: -345px;
}

.customDatePickerEnter {
  composes: customDatePicker;
  opacity: 1;
}

.customDatePickerEnterActive {
  composes: customDatePicker;
  opacity: 0;
  transition: opacity 3000ms ease-in-out;
}

.customDatePickerExit {
  composes: customDatePicker;
  opacity: 0;
}

.customDatePickerExitActive {
  composes: customDatePicker;
  opacity: 1;
  transition: opacity 3000ms ease-in-out;
}

audio {
  display: none;
  width: 285px;
}

.soundBtnMob {
  display: block;
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pauseBtn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.soundBtnDesktop {
  display: none;
}

.lineIcon {
  display: none;
}

.pointIcon {
  display: none;
}

.pauseBtn {
  display: none;
}

.audioControlsWrapper {
  display: none;
}

@media screen and (min-width: 1024px) {
  .dateWrapper {
    width: 285px;
    position: absolute;
    top: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .dateWrapper::after {
    display: none;
  }

  .customDatePicker {
    width: 320px;
    position: absolute;
    right: 0;
    top: -342px;
  }

  audio {
    display: block;
    width: 285px;
  }

  audio::-webkit-media-controls-enclosure {
    opacity: 0.5;
  }

  audio::-webkit-media-controls-timeline,
  video::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-volume-slider {
    display: none;
  }

  audio::-webkit-media-controls-time-remaining-display {
    display: none;
  }
  audio::-webkit-media-controls-current-time-display {
    display: none;
  }

  audio::-webkit-media-controls-timeline-container,
  video::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    -webkit-flex: 1 1;
    -webkit-user-select: none;
    height: 16px;
    min-width: 0;
  }

  .leftPanelWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .dateWrapper {
    position: absolute;
    top: 0;
  }

  .audioControlsWrapper {
    display: block;
    position: absolute;
    top: 70px;
  }

  .pointIcon {
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
  }

  .soundBtnMob {
    display: none;
  }

  .playerControls {
    position: absolute;
    width: 100%;
    top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pauseBtn {
    display: block;
    position: static;
  }

  .soundBtnDesktop {
    display: block;
    width: 50px;
    height: 40px;
    position: static;
    margin-right: 61px;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .lineIcon {
    display: block;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
  }

  .lineIcon {
    display: block;
  }

  .customDatePicker {
    top: -360px;
  }
}
